<.header>
  Create a New Friendship Group
  <:subtitle>Every friendship deserves a group, create one now!!</:subtitle>
</.header>

<.group_form changeset={@changeset} action={~p"/groups"} />

<.back navigate={~p"/groups"}>Back to Groups</.back>
